<p-dialog
  [visible]="machineState.programOptionsModalState.visible"
  [modal]="true"
  [closable]="false"
>
  <ng-template pTemplate="header">
    <h3>Program tools</h3>
  </ng-template>

  <div style="display: flex; flex-direction: column; gap: 8px">
    <span>Priority (0 - 99)</span>
    <p-inputNumber
      [showButtons]="true"
      [(ngModel)]="priority"
      [min]="0"
      [max]="99"
    >
    </p-inputNumber>
  </div>

  <ng-template pTemplate="footer">
    <button
      pButton
      class="p-button"
      label="Guardar"
      style="width: 100%"
      (click)="onSave()"
    ></button>
  </ng-template>
</p-dialog>
