<p-table
  [value]="getArrayPrograms()"
  [scrollable]="true"
  scrollHeight="300px"
  scrollDirection="both"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Tamaño</th>
      <th>PI</th>
      <th>PF</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-program>
    <tr>
      <td>{{ program.id }}</td>
      <td>{{ program.name }}.ch</td>
      <td>{{ program.length }}</td>
      <td>{{ program.initialPosition }}</td>
      <td>{{ program.lastPosition }}</td>
    </tr>
  </ng-template>
</p-table>
